[submodule "thirdpartytools/dnscat2-powershell"]
	path = thirdpartytools/dnscat2-powershell
	url = https://github.com/lukebaggett/dnscat2-powershell
[submodule "thirdpartytools/dnscat2"]
	path = thirdpartytools/dnscat2
	url = https://github.com/iagox86/dnscat2
